<nav>
    <img src="static\icons\logo.png" alt="Artboard logo." />
    <h1>Profile</h1>
    <ul class="topnav">
      <li><a href="home.html">Home</a></li>
      <li><a href="messages.html">Messages</a></li>
      <li><a href="profile.html">Profile</a></li>
      <li><a href="login.html">Settings</a></li>
    </ul>
  </nav>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap" rel="stylesheet">